
/*generic*/
.lul-container {
  height: 50px;
  padding: 0;
}
.lul-entry .lul-container {
  margin-right: 4px;
}

.lul-btn {
  background-color: rgb(var(--color-highlight));
  color: white;
  height: 50px;
  transition-duration: .1s;
  transition-timing-function: ease;
}

.lul-btn:hover {
  background-color: rgb(var(--color-highlight), .1);
  color: rgb(var(--color-highlight));
}
/*entry*/
.lul-entry {
  display: inline-block;
  overflow: hidden;
}
.lul-entry-area {
  display: inline-block;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  padding: 0px 0px 0px;
}
.lul-entry:hover .lul-entry-area {
  padding: 0 15px 0;
  transition-duration: .4s;
  transition-delay: .2s;
}

.lul-entry-content {
    width: auto;
    max-width: 0px;
    transition-duration: .4s;
    transition-timing-function: ease;
    height: 100%;
    display: flex;
    align-items: center;
}
.lul-entry:hover .lul-entry-content {max-width: 500px;}
.lul-entry-content *,.lul-btn * {margin: 0;}

.lul-entry-content input {
  margin: 0 4px 0 8px;
}


/*table*/
.lul-table th, .lul-table td, .lul-table {
  border: .5px solid rgb(var(--color-highlight));
  border-collapse: collapse;
}
.lul-table th, .lul-table td {
  padding: 10px;
  transition: color .1s ease;
  transition: background-color .1s ease;

}
.lul-table th {
  background-color: rgb(var(--color-highlight));
  color: white;
}
.lul-table th:not(th:last-of-type) {
  border-right-color: white;
}
.lul-table th:hover, .lul-table td:hover {
  background-color: rgba(var(--color-highlight), .1);
  color: rgb(var(--color-highlight));
  border-right-color: rgb(var(--color-highlight));
}
