:root {
  --color-dark: 57,145,147;
  --color-light: 235.2, 244, 244.2;
}



.lul-dark, .lul-medium, .lul-light {
  border: 1px solid rgb(var(--color-dark));
  border-radius: 0px;
  transition: color .3s ease;
  transition: background-color .3s ease;
}

.lul-padding {
  padding: 10px;
}

.lul-dark, .lul-dark-hover:hover {
  background-color: rgb(var(--color-dark));
  color: white;
}
.lul-dark{
  font-weight: bold;
}


.lul-medium, .lul-medium-hover:hover {
  background-color: rgb(var(--color-light));
  color: rgb(var(--color-dark));
}
.lul-medium {
  font-weight: bold;
}
.lul-light, .lul-light-hover:hover {
  background-color: white;
  color: black;
}
.lul-box {
  height: 100%;
  width: 100% ;
}

.lia-radio {
  margin: 3px 4px 3px 8px;
}
